* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #777777;
  display: flex;
  justify-content:center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
}

.contain {
  width: 600px;
  height: 700px;
  border-radius: 1%;
  background-color: white;
}
.contain .imagebox {
  max-width: 500px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 227, 227); /*#F9F9F9;*/
  border-radius: 1%;
  box-shadow: 0px 0px 20px #868e96;
}

.contain .imagebox img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
  border: 5px solid white;
}

/*infobox*/

.contain .infobox {
  max-width: 500px;
  height: 70px;
  margin: auto;
  text-align: center;
  font-style: normal;
}
.contain .iconbox {
  max-width: 500px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1%;
}

.contain .iconbox a {

}


/* chkbox */

.contain .chkbox {
  max-width: 500px;
  height: 100px;
  margin: 0 auto;
  display: flex;
}

.contain .yesbox {
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.contain .yesbox i {
  border-radius: 50%;
}

.contain .nobox {
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}


/*listbox*/

.contain .listbox {
  /* border: 1px solid black; */
  border-radius: 1%;
  height: 235px;
  max-width: 500px;
  margin: 10px auto;
  overflow: auto;
  box-shadow: 0px 0px 20px #868e96;
}

.contain .listbox ul {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;

}
.contain .listbox ul li {
  list-style-type: none;
  background-color: white;
  height: 48px;
  width: 95%;
  margin: 5px auto;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 0px 5px #868e96;

 
}

.contain .listbox ul li img {
  border-radius: 50%;
  padding-left: 10px;
}
.contain .listbox ul li p {

  font-size: 24px;
 
  margin: auto 10px;
  
}
